:host ::ng-deep {
  #container {
    height: 100%;
    height: 100px;
  }

  .e-spinner-pane.e-spin-show {
    background-color: rgba($color: #000000, $alpha: 0.8);
  }

  .e-spinner-pane .e-spinner-inner .e-spin-bootstrap {
    fill: aliceblue;
    stroke: aliceblue;
    height: 4rem !important;
    width: 4rem !important;
  }
}
